<ion-header>
 	<ion-toolbar>
	  <ion-buttons slot="start">
	  	<ion-button (click)="goBack()">
	    	<ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
		</ion-button>
	  </ion-buttons>
	  <ion-buttons slot="secondary">
	    <ion-button>
	      
	    </ion-button>
	  </ion-buttons>
	  <ion-title text-center><ion-img center src="/assets/logo.png" class="logo-ibank"></ion-img></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid> 
	<ion-row>
      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/pulsa.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">Pulsa</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/paket_data.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">Paket Data</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/pln.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">Listrik</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/pdam.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">PDAM</ion-label>
        </ion-tab-button>
      </ion-col>
   

 
      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/bpjs.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">BPJS</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/tv_kabel.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">TV Kabel</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/telkom.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">Telkom</ion-label>
        </ion-tab-button>
      </ion-col>

      <ion-col size-xs="3" size-sm="3" size-md="2">
        <ion-tab-button tab="tab4" >
          <ion-img src="/assets/ppob/baznas.png" class="icon icon-box"></ion-img>
          <ion-label class="icon-text">Baznas</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
