
<ion-content style="min-width: 320px;">
 
 <div style="width:100%; position: absolute; background-color: transparent;">
 	<h3 text-center style="color: white;">My Account</h3>
 </div>
<ion-img src="/assets/bg.png"></ion-img>
  <div text-center style="max-width: 900px; margin: 0px auto; bottom: 4em; position: relative;">
  	<ion-avatar style="margin: 0px auto; width: 130px; height: 130px;">
	  <ion-img src="/assets/avatar.png"></ion-img>
	</ion-avatar>
  	<h1 style="margin-bottom: 0px; margin-top: 10px;"><b>Dev iBank</b></h1>
	<h4 style="margin:0px;">99920199304929</h4>
	<ion-col>
	<ion-button style="width: 80%;">Verified</ion-button>	
	</ion-col>
	<h6 style="margin:0px;">Masa Keanggotaan : 16/10/2019 - 16/10/2020</h6>
  </div>

   		<div text-center style="height: 70px; width: 100%; background-color: #f6f6f6; padding: 17px; margin: 4px 0px;">
   			
   		</div>
   		 <ion-list lines="none" no-padding>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Data Pribadi</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Data Ahli Waris</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Ubah Foto Profil</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Ubah PIN</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Ubah Password</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Tutorial</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Help</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Terms and Conditions</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <ion-item href="login" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>Logout</b></ion-label>
	        <ion-icon slot="end" name="arrow-forward"></ion-icon>
	      </ion-item>
	      <!-- <ion-item href="https://ionicframework.com/docs/building/scaffolding">
	        <ion-icon slot="start" color="medium" name="build"></ion-icon>
	        <ion-label>Scaffold Out Your App</ion-label>
	      </ion-item>
	      <ion-item href="https://ionicframework.com/docs/layout/structure">
	        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
	        <ion-label>Change Your App Layout</ion-label>
	      </ion-item>
	      <ion-item href="https://ionicframework.com/docs/theming/basics">
	        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
	        <ion-label>Theme Your App</ion-label>
	      </ion-item> -->
	    </ion-list>
</ion-content>
