<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
 <ion-img src="/assets/login.png"></ion-img>
 <ion-img src="/assets/logo.png" style="margin: 10px auto; width: 50%;"></ion-img>

<section>
<ion-item style="margin: 10px auto; width: 80%;">
<ion-input placeholder="Email"></ion-input>
</ion-item>

<ion-item style="margin: 10px auto; width: 80%;">
 <ion-input placeholder="Password"></ion-input>
</ion-item>
<ion-button expand="full" fill="clear" style="height: 20px; width:70%; margin: 5px auto; font-size: 12px;">Belum punya akun? Daftar Sekarang</ion-button>
<ion-button (click)="login()" expand="block" shape="round" style="margin: 10px auto; width: 80%;">Login</ion-button>
<ion-button expand="full" fill="clear" style="height: 20px; width:60%; margin: 0px auto; font-size: 12px;">Lupa Password?</ion-button>

</section>

</ion-content>
