<ion-app>
  <ion-split-pane>
   <ion-menu side="end" type="push">
   	<ion-header>
   	 <ion-toolbar>
   	 	<ion-title text-center>Saldo Anda</ion-title>
   	 </ion-toolbar>
   	</ion-header>

   	<ion-content no-padding>
   		<div text-center style="height: 70px; width: 100%; color: white; background-color: #df2e4b; padding: 17px;">
   			<ion-label><b>Estimasi Nilai Asset</b></ion-label><br>
   			<ion-label>Rp100.630.370,00</ion-label>
   			
   		</div>
   		 <ion-list lines="none" no-padding>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>REKENING IDR</b></ion-label>
	        <ion-label text-right>Rp120.000.000</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>GOLDGRAM</b></ion-label>
	        <ion-label text-right>11 GRAM</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>SILVERGRAM</b></ion-label>
	        <ion-label text-right>6 GRAM</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>USD</b></ion-label>
	        <ion-label text-right>6 $</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>AUD</b></ion-label>
	        <ion-label text-right>9 A$</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>SING</b></ion-label>
	        <ion-label text-right>4 S$</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>YEN</b></ion-label>
	        <ion-label text-right>100 ¥</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>YUAN</b></ion-label>
	        <ion-label text-right>100 RMB</ion-label>
	      </ion-item>
	      <ion-item href="#" style="--border-width: 0.5px;">
	        <ion-label slot="start"><b>RUMAH GADAI</b></ion-label>
	        <ion-label text-right>Rp10.000.000</ion-label>
	      </ion-item>
	      <!-- <ion-item href="https://ionicframework.com/docs/building/scaffolding">
	        <ion-icon slot="start" color="medium" name="build"></ion-icon>
	        <ion-label>Scaffold Out Your App</ion-label>
	      </ion-item>
	      <ion-item href="https://ionicframework.com/docs/layout/structure">
	        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
	        <ion-label>Change Your App Layout</ion-label>
	      </ion-item>
	      <ion-item href="https://ionicframework.com/docs/theming/basics">
	        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
	        <ion-label>Theme Your App</ion-label>
	      </ion-item> -->
	    </ion-list>
   	</ion-content>
   </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
